include ../blocks/logo/logo.pug
include ../blocks/header/header.pug
include ../blocks/intro/intro.pug
include ../blocks/ways/ways.pug
include ../blocks/guarantees/guarantees.pug
include ../blocks/simplicity/simplicity.pug
include ../blocks/about/about.pug
include ../blocks/agreement/agreement.pug
include ../blocks/footer/footer.pug


