$mainText: #000000;
$secondText: #ffffff;

$tablet-width: 768px;
$desktop-width: 1280px;

// MEDIA
@mixin tablet {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.woff2') format('woff2'),
        url('../fonts/Manrope-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2') format('woff2'),
        url('../fonts/Manrope-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
  url('../fonts/Manrope-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2') format('woff2'),
  url('../fonts/Manrope-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Manrope', sans-serif;
  color: $mainText;
  font-size: rem(16);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
  font-style: normal;
  margin: 0;
  padding: 0;
}
ul,li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a, button {
  font-family: 'Manrope', sans-serif;
}
.container {
  width: 100%;
  max-width: 1326px;
  margin: 0 auto;
  padding: 0 15px;

  @include mobile {
    padding: 0 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@import './src/blocks/logo/logo';
@import './src/blocks/header/header';
@import './src/blocks/intro/intro';
@import './src/blocks/ways/ways';
@import './src/blocks/guarantees/guarantees';
@import './src/blocks/simplicity/simplicity';
@import './src/blocks/about/about';
@import './src/blocks/agreement/agreement';
@import './src/blocks/footer/footer';


