mixin agreement()
  section.agreement
    .agreement__container.container
        .agreement__text-box
            h2.agreement__title Мы согласовали для Вас займ здесь.
            span.agreement__description Отправьте онлайн-заявку минимум в 4 компании для 100% получения денег!
            span.agreement__sent Отправлено 0/4 заявок
        ul.agreement__list  
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги
            li.agreement__item
                img(src="img/agreement-logo.png" width="120" height="56" alt="Логотип компании").agreement__image
                span.agreement__feature Заявка одобрена \ лучшее предложение \ топ 5 по выдаче
                hr.agreement__line
                .agreement__availability-box 
                    span.agreement__availability-text Доступно
                    span.agreement__availability-value 50 000р
                button.agreement__button Получить деньги

