mixin footer()
  footer.footer 
    .footer__container
        a(href="#").footer__main-link
            +logo
        h3.footer__title Сервис подбора займов
        span.footer__cooperation По вопросам сотрудничества: 
            a(href="mailto:info@monebo.ru").footer__mail-link info@monebo.ru
        hr.footer__line
        p.footer__description 
            | Владельцем товарного знака "Monebo" является ИП Карсаков А.А. (ИНН 631929844543), услуги по размещению информации на домене Monebo.ru оказывает ООО «ГИДФИНАНС» 
            | ОГРН 1166313147934
        p.footer__description ООО "Гидфинанс" ОГРН 1166313147934, КПП 631901001 | 443083, Самарская обл., Самара г, ул. Солнечная, д. 30, оф. 6.
        p.footer__description
            | Находится в реестре операторов, осуществляющих обработку персональных данных, рег. № 77-19-014842, приказ №105 от 28.06.2019 г.
            | Данное соглашение действует бессрочно и может быть отозвано путем отправки заявления в свободной форме по email-адресу otkaz@monb.su с пометкой 
            | в теме «Отказ от сотрудничества».
        p.footer__description Сервис бесплатный - за предоставление информации комиссия не взымается. <br> ВАЖНО: предоплату берут только мошенники!
        p.footer__description
            | Сайт НЕ является представительством МФО или банком, не осуществляет выдачу займов и кредитов. Все рекомендуемые на сайте 
            | кредитные учреждения имеют соответствующие лицензии. Условия неуплаты можно уточнить на сайте МФО.