.simplicity {
    background-color: #FCFDFF;

    &__container {
        padding-top: 104px;
        padding-bottom: 120px;

        @include mobile {
            padding-top: 78px;
            padding-bottom: 78px;
        }
    }

    &__main-title {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        color: #0F0E42;
        margin-bottom: 56px;

        @include tablet {
            font-size: calc((100vw - 375px)/(1280 - 375) * (40 - 28) + 28px);
        }

        @include mobile {
            font-size: 28px;
            margin-bottom: 36px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include mobile {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        display: flex;
        width: 33.3%;
        max-width: 416px;
        flex-direction: column;

        @include mobile {
            flex-direction: row;
            width: 100%;
            align-items: flex-start;
        }

        @include mobile {
            margin-bottom: 37px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__image {
        display: block;
        width: 120px;
        height: auto;
        margin-bottom: 15px;

        @include tablet {
            width: calc((100vw - 375px)/(1280 - 375) * (120 - 78) + 78px);
        }

        @include mobile {
            width: 78px;
            margin-right: 12px;
            margin-bottom: 0;
        }
    }

    &__item-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        color: #0F0E42;
        margin-bottom: 16px;

        @include mobile {
            font-size: 20px;
            margin-bottom: 12px;
        }
    }

    &__link {
        text-decoration-line: underline;
        color: #1146A6;

        &:hover {
            opacity: 0.7;
        }
    }

    &__description {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #8C8E9B;
        margin-bottom: 18px;
    }

    &__time {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1146A6;
        margin-top: auto;
        padding-left: 24px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            background: url('../img/simplicity-chronometer.svg') no-repeat center;
            background-size: 20px 20px;
        }
    }
}