mixin simplicity()
  section.simplicity 
    .simplicity__container.container
        h2.simplicity__main-title Получить деньги просто!
        ul.simplicity__list 
            li.simplicity__item 
                img(src="img/simplicity-form.png" width="120" height="120" alt="Заполнение анкеты").simplicity__image
                .simplicity__text-box 
                    h3.simplicity__item-title Заполните анкету
                    p.simplicity__description Удобный интерфейс позволит быстро пройти процедуру заполнения 
                    span.simplicity__time 5 минут
            li.simplicity__item 
                img(src="img/simplicity-clock.png" width="120" height="120" alt="Ожидание").simplicity__image
                .simplicity__text-box 
                    h3.simplicity__item-title Дождитесь одобрения
                    p.simplicity__description Рассмотрение заявки займёт не более 5 минут 
                    span.simplicity__time 2 минуты - среднее время
            li.simplicity__item 
                img(src="img/simplicity-money.png" width="120" height="120" alt="Получение денег").simplicity__image
                .simplicity__text-box 
                    h3.simplicity__item-title Получите деньги
                    p.simplicity__description На банковскую карту, наличными или на электронный кошелек  
                    span.simplicity__time 1 минута 