mixin ways()
  section.ways 
    .ways__container.container
        h2.ways__main-title Способы получения
        span.ways__note Отправим вам деньги 
        ul.ways__list 
            li.ways__item 
                img(src="img/ways-card.png" width="120" height="120" alt="Деньги на карту").ways__image
                .ways__text-box 
                    h3.ways__item-title На карту
                    p.ways__description Любой банк РФ: Visa, MasterCard, МИР 
            li.ways__item 
                img(src="img/ways-online.png" width="120" height="120" alt="Деньги на онлайн кошелек").ways__image
                .ways__text-box 
                    h3.ways__item-title На онлайн кошелек
                    p.ways__description Webmoney, QIWI, PAYEER 
            li.ways__item 
                img(src="img/ways-cash.png" width="120" height="120" alt="Деньги наличными").ways__image
                .ways__text-box 
                    h3.ways__item-title Наличными
                    p.ways__description В офисах наших партнеров во всех городах РФ 
    