mixin guarantees()
  section.guarantees 
    .guarantees__container.container
        h2.guarantees__title Гарантированные условия
        .guarantees__main-content
            .guarantees__text-box
                span.guarantees__note Почему обращаются к нам? 
                p.guarantees__description Используем самые современные технологий информационной и технологической защиты. 
            ul.guarantees__list     
                li.guarantees__item
                    span.guarantees__value 99%
                    span.guarantees__step одобрение
                li.guarantees__item
                    span.guarantees__value 10 мин 
                    span.guarantees__step и деньги у вас
                li.guarantees__item
                    span.guarantees__value 0%
                    span.guarantees__step первый займ
        button.guarantees__button Получить деньги