mixin intro()
  section.intro 
    .intro__container.container
        h2.intro__title Займ до 100 000 ₽ 
        span.intro__note на карту или наличными за 10 минут
        form(action="").intro__form
            .intro__box
                label(for="requiredSum").intro__label.intro__label--sum Необходимая сумма, ₽
                input(type="number" id="requiredSum" min="1000" max="100000").intro__input.intro__input--sum
            .intro__box  
                input(type="range" min="1000" max="100000" value="50")
            .intro__box  
                .intro__input-wrapper
                    label(for="userName").intro__label ФИО
                    input(type="text" id="userName" placeholder="Иванов Пётр Михайлович").intro__input
                .intro__input-wrapper
                    label(for="userTel").intro__label Телефон
                    input(type="tel" id="userTel" placeholder="+7 (999) 999 99 99").intro__input
                .intro__input-wrapper    
                    button(type="submit").intro__button Получить деньги 
                    span.intro__security Высокая степень безопасности данных
            .intro__box  
                span Вероятность одобрения: 87%
                span Первый займ: 0%