.intro {
    background: linear-gradient(90deg, #07317E 0%, #1146A6 100%);

    &__container {
        padding: 56px 102px;

        @include mobile {
            padding: 28px 15px 48px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 8px;

        @include tablet {
            font-size: calc((100vw - 375px)/(1280 - 375) * (48 - 32) + 32px);
        }
    }

    &__note {
        display: block;
        font-weight: 400;
        font-size: 28px;
        line-height: 140%;
        color: #FFFFFF;
        margin-bottom: 58px;

        @include tablet {
            font-size: calc((100vw - 375px)/(1280 - 375) * (28 - 18) + 18px);
        }

        @include mobile {
            margin-bottom: 26px;
        }
    }

    &__form {
        width: 100%;
        max-width: 1124px;
        background: #F2F6FD;
        border-radius: 5px;
        padding: 36px 24px 44px;
        margin: 0 auto;

        @include tablet {
            max-width: 900px;
        }

        @include mobile {
            padding: 20px 16px 24px;
        }
    }

    &__box {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 26px;
        flex-wrap: wrap;

        &--data {
            justify-content: space-between;

            @include tablet {
                flex-direction: column;
                align-items: center;
            }

            @include mobile {
                margin-bottom: 0;
            }
        }

        @include mobile {
            align-items: center;
        }

        &--conditions {
            margin-bottom: 0;

            @include mobile {
                display: none;
            }
        }
    }

    &__label {
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #0F0E42;

        &--sum {
            font-weight: 400;
            font-size: 22px;

            @include tablet {
                font-size: calc((100vw - 375px)/(1280 - 375) * (22 - 16) + 16px);
            }
        }
    }

    &__input {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #2C2C2C;
        padding: 15px;
        background: #FFFFFF;
        border: 1px solid #CED6E4;
        border-radius: 5px;
        display: block;
        width: 100%;

        &--sum {
            width: auto;
            padding: 10px;
            margin-left: auto;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #2C2C2C;

            @include mobile {
                max-width: 112px;
            }
        }

        &::placeholder {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #8C8E9B;
        }
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 33%;
        max-width: 340px;

        &--button {
            align-items: center;
            padding-top: 20px;
        }

        @include tablet {
            width: 100%;
            max-width: none;
        }
    }

    &__button {
        width: 100%;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
        color: #0F0E42;
        padding: 18px 60px;
        margin-bottom: 8px;
        background: #FCC01A;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: #FFD359;
        }

        @include mobile {
            padding: 17px;
        }
    }

    &__security {
        display: block;
        font-weight: 300;
        font-size: 12px;
        line-height: 120%;
        color: #0F0E42;
        text-align: center;
        padding-left: 26px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            top: 0;
            left: 0;
            background: url('../img/intro-lock.svg') no-repeat center;
            background-size: contain;
        }
    }

    &__condition-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #0F0E42;
        padding-left: 47px;
        position: relative;
        margin-right: 41px;

        &:before {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            width: 27px;
            height: 27px;
            background: url('../img/intro-check.svg') no-repeat center;
            background-size: 27px 27px;
        }

        &--percent:before {
            background-image: url('../img/intro-percent.svg');
        }

        b {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #1146A6;
        }
    }

    &__range-track {
        background: linear-gradient(to right, #1146A6 0%, #1146A6 50%, #fff 50%, #fff 100%);
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 23px;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            margin-top: -20px;
            width: 55px;
            height: 55px;
            border: 0;
            background: transparent url('../img/intro-slider.svg') no-repeat center;
            background-size: contain;
            cursor: pointer;
        }

        &::-webkit-slider-runnable-track {
            border: 1px solid #CED6E4;
            height: 8px;
            border-radius: 3px;
        }
    }

    &__range-value {
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #8C8E9B;

        &--max {
            margin-left: auto;
        }

        @include mobile {
            font-size: 16px;
            line-height: 160%;
        }
    }
}