mixin header(activePage)
  header.header 
    a(href=(activePage === 'main' ? null : 'main.html')).header__main-link
      +logo
    a(href="#").header__blog-link Блог
    a(href="index.html").header__index-link Вернуться на стартовую страницу