.header {
    display: flex;
    align-items: center;
    padding: 19px 51px;
    background-color: white;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    position: relative;

    @include mobile {
        padding: 10px 15px;
    }

    &__main-link {
        display: block;
        width: 164px;

        @include mobile {
            width: 144px;
        }
    }

    &__blog-link {
        display: none;
        margin-left: auto;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        text-decoration: none;
        color: #08327F;

        @include mobile {
            color: #3F5E98;
        }
    }

    &__index-link {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}